<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="ISO-8859-1"/>
    <title>Display Orders</title>
</head>
<body>
<div class="container">
    <div id="buttons-row" class="row">
        <div style="margin-left: 15px;" class="col-sm-1">
            <a class="btn btn-primary" role="button" th:href="@{/shop/fetchApiEntities}">Fetch Orders</a>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-danger" role="button" th:href="@{/shop/deleteLocalEntities}">Delete Orders</a>
        </div>
    </div>
    <hr/>
    <div id="header-row" class="row">
        <div class="col-5"></div>
        <div class="col-1">
            <h1>Orders</h1>
        </div>
        <div class="col-5"></div>
    </div>
    <div style="margin-left: 15px;" id="orders" class="row">
        <th:block th:each="order : ${orders}">
            <table class="table table-light table-hover">
                <thead>
                <tr>
                    <th scope="col">OrderId</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">State</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.state}"></td>
                    <td th:text="${order.totalOrderPrice}"></td>
                    <td th:text="${order.customer.getFirstName() + ' ' + order.customer.getLastName() }"></td>
                    <td th:text="${order.customer.getAddress1() + ' ' + order.customer.getAddress2()
                            + ', ' + order.customer.getCity() + ', ' + order.customer.getRegion()
                            + ', ' + order.customer.getPostalCode() + ', ' + order.customer.getCountry() }"></td>
                    <table class="table table-light" style="margin-bottom: 50px">
                        <thead>
                        <th scope="col"></th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Count</th>
                        </thead>
                        <tbody>
                        <th:block th:each="cartProduct : ${order.getCartProducts()}">
                            <tr>
                                <td class="col-sm-1"></td>
                                <td class="col-sm-1"><img width="160" height="160"
                                                          th:src="${cartProduct.getProduct().getImageUrl()}"/></td>
                                <td class="col-sm-1" th:text="${cartProduct.getProduct().getProductName()}"></td>
                                <td class="col-sm-2" th:text="${cartProduct.getProduct().getDescription()}"></td>
                                <td class="col-sm-1" th:text="${cartProduct.getProduct().getCost()}"></td>
                                <td class="col-sm-1" th:text="${cartProduct.getCount()}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </tr>
                </tr>
                </tbody>
            </table>
        </th:block>
    </div>
</div>
</body>
</html>